<div>
    <h2 data-translate="configuration.title">Configuration</h2>
    <div>
    <button style="margin-right: 100px;" type="button" class="btn " ng-click="vm.refresh(1)"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span data-translate="configuration.one">Refresh</span></button>
    <button style="margin-right: 100px;" type="button" class="btn " ng-click="vm.refresh(2)"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span data-translate="configuration.two">Refresh</span></button>
    <button style="margin-right: 100px;" type="button" class="btn " ng-click="vm.refresh(3)"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span data-translate="configuration.three">Refresh</span></button>
    <button type="button" class="btn " ng-click="vm.refresh(4)"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span data-translate="configuration.four">Refresh</span></button>
    </div>
<br><br>
    <canvas ng-show="chosen == 1" id="doughnut" class="chart chart-doughnut"
            chart-data="data" chart-labels="labels" chart-options="options">
    </canvas>
    <canvas ng-show="chosen == 2" id="doughnut2" class="chart chart-doughnut"
            chart-data="data2" chart-labels="labels2" chart-options="options">
    </canvas>
    <canvas ng-show="chosen == 3" id="bar" class="chart chart-bar"
            chart-data="data3" chart-labels="labels3" chart-series="series">
    </canvas>
    <canvas ng-show="chosen == 4" id="bar2" class="chart chart-bar"
            chart-data="data4" chart-labels="labels4" chart-series="series4">
    </canvas>
</div>
