<div ng-cloak style="    margin-top: -20px;
    margin-right: -5px;
    margin-bottom: -20px;">
    <div class="row">
        <div class="col-md-4">
            <button class="button" ui-sref="incident-detail({id:id})" data-translate="home.rcvbutton">Odbierz
                zg³oszenie
            </button>


            <section>
                <div style="
    border-radius: 20px;">
                    <div class="tbl-header list3">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <th data-translate="home.howmanynotify">Zg³aszaj¹cy</th>
                                <th data-translate="home.howmanydanger">Telefon</th>
                            </tr>
                            </thead>
                        </table>
                        </table>

                    </div>
                    <div class="tbl-content list3" style="height: 66px">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td>25</td>
                                <td>25</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-8 list3 " style="    margin-top: 26px;
    border-radius: 20px;">
            <section style="margin-left: -5px;
    margin-right: -5px; ">
                <!--for demo wrap-->
                <h1 data-translate="home.tablename">Powiadomienia</h1>

                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th data-translate="home.notifier">Zg³aszaj¹cy</th>
                            <th data-translate="home.phone">Telefon</th>
                            <th data-translate="home.location">Lokalizacja</th>
                            <th data-translate="home.danger">Zagro¿enie ¿ycia</th>
                            <th data-translate="home.kind">Powód</th>
                            <th data-translate="home.other">Inne okolicznoœci</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr ng-repeat="alert in alerts | filter:myFilter">
                            <td>{{alert.notifier.name}} <br>{{alert.notifier.surname}}</td>
                            <td>{{alert.notifier.phone}}</td>
                            <td>{{alert.location}}</td>
                            <td>
                                <span ng-if="alert.lifeDanger">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </span>
                                <span ng-if="!alert.lifeDanger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </span>
                            </td>
                            <td>{{alert.kind}}</td>
                            <td>{{alert.otherCircumstances}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
